body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
  }
  .header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #1f2937;
    height: 57px;
  }
.logo{
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}
ul{
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
    color: #e5e7eb;
}