body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
  }
  /* all the css for header is here */
  .header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #1f2937;
    height: 57px;
  }
.logo{
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}
ul{
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
    color: #e5e7eb;
}
/* all the css for header is here */

/* section-1  css */
.section-1{
    background: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 158px;
}
.text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 38px;
   
}
.main-text{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}
.sub-text{
    color: #e5e7eb;
    font-size: 18px;
}
button{
    background: #3882f6;
    border: none;
    color: white;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 12px 24px;
    width: fit-content;
}
.media{
    text-align: center;
    color: #e5e7eb;
    background:  rgb(172, 176, 181);
    padding: 100px;
    margin: 16px;
    width: 300px
    
}


/* section-1  css */


